<footer class="page-footer">
	<p>Copyright @ {{date format="YYYY"}} <a href="{{@blog.url}}">{{@blog.title}}</a></p>
	<p><a href="http://www.miitbeian.gov.cn/">{{ghost_foot}}</a>Powered by <a target="_blank" href="https://ghost.org/">Ghost</a>,Themes <a target="_blank" href="https://weic96.cn/themes-note/">Note</a>.</p>
</footer>
