{{!< default}}
{{#post}}
<div class="body-layout">
<div class="post-body-layout">
    <div class="post-header">
        <h2>{{title}}</h2>
    </div>
    <div class="index-container">
        <div class="post-layout">
            <article class="post-main">
                <section class="tags-page-section">
                    {{! Tag Cloud }}
                    {{#get "tags" limit="all" include="count.posts" order="count.posts desc" }}
                        {{#foreach tags}}
                            <a href="/tag/{{slug}}" class="tag-could">{{name}}</a>
                        {{/foreach}}
                    {{/get}}
                </section>
            </article>
        </div>
    </div>
</div>

{{> "footer"}}

</div>
<script>
  // 博客侧栏标签云随机色
  var tag_cloud = $('.tag-could');
  tag_cloud.each(function () {
      var Cnum = 9;
      var Crand = parseInt(Math.random() * Cnum);
      $(this).addClass("tag-could" + Crand);
  })
</script>
{{/post}}