{{!< default}}
{{#post}}
<div class="body-layout">
<div class="post-body-layout">
    <div class="post-header">
        <h2>{{title}}</h2>
    </div>
    <div class="index-container">
        <div class="post-layout">
            <article class="post-main">
                <section class="links-page-section">
                    {{content}}
                </section>
            </article>
        </div>
    </div>
</div>

{{> "footer"}}

</div>
{{/post}}